/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    text-align: center;
  }
  
  .logo-text.keep {
    color: var(--Primary, #5288EC);
    font-family: Roboto;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 0px;
  }
  
  .logo-text.time {
    color: var(--accent-2, #37D59B);
    font-family: Roboto;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .home-buttons {
    margin-top: 20px;
  }
  
  .home-button {
    background-color: transparent;
    border: 2px solid #007BFF;
    color: #007BFF;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
  }
  
  .home-button:hover {
    background-color: #007BFF;
    color: white;
    transform: scale(1.05);
  }